
body {
    margin: 0px;
    /*overflow: hidden;*/
}
.gallery-item img {
    width: 100%;
}
a[target=gallery] {
    font-size: 16pt;
}
body {
    counter-reset: ca1;
    background-image: url("../images/bg1.jpg"), url("../images/bg2.jpg"), url("../images/bg3.jpg"), url("../images/main_bg.jpg");
    background-size: 60pt, 60pt, 60pt, cover;
    background-attachment: fixed;
    background-position: 10pt 8pt, 10pt 78pt, 10pt 148pt, center;
    background-repeat: no-repeat;
}
header h1 {
    font: bold 42pt Verdana, sans-serif;
    text-align: right;
    color: white;
    margin: 8pt 8pt auto 80pt;
    padding-right: 12pt;
    background-image: radial-gradient(closest-side at 25pt 50%, black, white, black, white, black);
    transform: skewX(5deg);
}
main p {
    font: 12pt Arial, sans-serif;
}
main {
    margin-left: 80pt;
    padding-left: 20pt;
    padding-right: 10pt;
    border-left-width: 20pt;
    border-left-style: solid;
    border-left-color: grey;
}
div.tbl {
    display: table;
}
div.tbl > div {
    display: table-row;
}
div.tbl > div > * {
    display: table-cell;
    vertical-align: middle;
}
div a {
    display: block;
    margin: 10px;
}
aside {
    float: right;
    margin: 20px 0px 20px 20px;
    padding: 5px;
    color: white;
    background-color: black;
    text-align: center;
}
nav {
    margin: 10px 10px 10px 80pt;
    padding: 5px;
    border: 4px solid grey;
    font: 16pt Arial, sans-serif;
    display: flex;
    justify-content: space-between;
}
nav a {
    display: block;
}
nav a:link, nav a:visited {
    color: blue;
    background-color: white;
    text-decoration: none;
    transition-duration: 1s;
}
nav a:active, nav a:hover {
    color: white;
    background-color: blue;
    text-decoration: none;
    transform: scale(1.2, 1.2) translateY(4px);
    transition-duration: 0.5s;
}
nav div {
    color: white;
    background-color: grey;
}
div#discography {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
div#discography > div {
    background-color: white;
    padding: 5px;
    margin: 5px;
    text-align: center;
    width: 120px;
    transform: rotate(5deg);
    transition-duration: 0.2s;
}
div#discography > div:hover {
    transform: rotate(-5deg) translateY(-10px);
    transition-duration: 0.1s;
}
footer {
    text-align: right;
    display: block;
    margin-left: 120pt;
    margin-right: 10pt;
}
footer p {
    font: italic 12pt Arial, sans-serif;
    color: white;
    background-color: grey;
    text-align: right;
    margin-bottom: 0;
}
.rounded {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border: 1px solid transparent;
    border-radius: 50%;
}
@media screen and (max-width:750px) {
    body {
        background: transparent;
    }
    header h1, nav, main, footer {
        margin-left: 8pt;
    }
    header h1 {
        font-size: 28pt;
        background: black;
    }
    nav {
        flex-direction: column;
    }
    main {
        padding-left: 0pt;
        border-left: none;
    }
    nav a:active, nav a:hover {
        transform: translateY(4px);
    }
    div#discography > div {
        border-width: 1.5pt;
        border-style: solid;
        border-color: black;
    }
    iframe {
        max-width: 100%;
    }
    div.tbl, div.tbl > div, div.tbl > div > * {
        display: block;
    }
}
@media print {
    body {
        background: transparent;
    }
    nav {
        display: none;
    }
    header h1, main, footer {
        margin-left: 8pt;
    }
    header, footer {
        background: transparent;
    }
    main {
        padding-left: 0pt;
        border-left: none;
    }
    header h1, footer p {
        color: black;
    }
    header h1 {
        letter-spacing: 10pt;
    }
    footer {
        border-top: 1px solid black;
    }
}